[defaults]
inventory            = inventory/aws_ec2.yml
enable_plugins       = amazon.aws.aws_ec2, constructed
roles_path           = roles
remote_user          = ubuntu
host_key_checking    = False
retry_files_enabled  = False
stdout_callback = ansible.builtin.default
result_format = yaml
private_key_file     = ~/.ssh/CK8S1.pem
bin_ansible_callbacks = True
forks                = 20
timeout              = 30
gathering            = smart
fact_caching         = jsonfile
fact_caching_connection = .ansible_cache
fact_caching_timeout = 3600
interpreter_python   = auto_silent
callbacks_enabled    = ansible.posix.profile_tasks

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
control_path_dir = /tmp/.ansible-cp
