# {{ ansible_managed }}

###############################################################################
# Argo CD Configuration
#
# GitOps Continuous Delivery Platform
#
###############################################################################


###############################################################################
# Global
###############################################################################

global:

  domain: "argocd.{{ cluster_name }}.internal"



###############################################################################
# Server
###############################################################################

server:

  replicas: 2


  service:

    type: ClusterIP



  ingress:

    enabled: true


    ingressClassName: nginx


    annotations:

      nginx.ingress.kubernetes.io/backend-protocol: HTTPS



###############################################################################
# Security
###############################################################################

configs:

  params:

    # Keep HTTPS inside cluster

    server.insecure: false



###############################################################################
# Controller
###############################################################################

controller:

  replicas: 1


  resources:

    requests:

      cpu: 250m

      memory: 256Mi


    limits:

      cpu: 1000m

      memory: 1Gi



###############################################################################
# Repo Server
###############################################################################

repoServer:

  replicas: 2


  resources:

    requests:

      cpu: 100m

      memory: 128Mi


    limits:

      cpu: 500m

      memory: 512Mi



###############################################################################
# Application Controller
###############################################################################

applicationController:

  replicas: 1



###############################################################################
# Redis
#
# HA Redis disabled initially.
# Can enable later with redis-ha.
###############################################################################

redis-ha:

  enabled: false