# {{ ansible_managed }}

###############################################################################
# cert-manager Configuration
#
# Kubernetes Certificate Management
#
###############################################################################


###############################################################################
# Install CRDs
###############################################################################

installCRDs: true



###############################################################################
# Controller
###############################################################################

replicaCount: 2



resources:

  requests:

    cpu: 50m

    memory: 64Mi


  limits:

    cpu: 200m

    memory: 256Mi



###############################################################################
# Webhook
###############################################################################

webhook:

  replicaCount: 2


  resources:

    requests:

      cpu: 20m

      memory: 32Mi


    limits:

      cpu: 100m

      memory: 128Mi



###############################################################################
# CA Injector
###############################################################################

cainjector:

  replicaCount: 2


  resources:

    requests:

      cpu: 20m

      memory: 32Mi


    limits:

      cpu: 100m

      memory: 128Mi



###############################################################################
# Prometheus Monitoring
#
# Disabled now.
# Later Prometheus stack will scrape cert-manager metrics.
###############################################################################

prometheus:

  enabled: false