# {{ ansible_managed }}

###############################################################################
# Kubernetes Cluster Autoscaler
#
# AWS Auto Scaling Group Integration
#
###############################################################################


###############################################################################
# Cloud Provider
###############################################################################

cloudProvider: aws


awsRegion: "{{ aws_region }}"



###############################################################################
# Auto Discovery
###############################################################################

autoDiscovery:

  clusterName: "{{ cluster_name }}"



###############################################################################
# Extra Arguments
###############################################################################

extraArgs:

  balance-similar-node-groups: true

  skip-nodes-with-system-pods: false

  skip-nodes-with-local-storage: false

  expander: least-waste



###############################################################################
# RBAC
###############################################################################

rbac:

  create: true



###############################################################################
# Service Account
###############################################################################

serviceAccount:

  create: true

  name: cluster-autoscaler



###############################################################################
# Resources
###############################################################################

resources:

  requests:

    cpu: 100m

    memory: 200Mi


  limits:

    cpu: 500m

    memory: 512Mi



###############################################################################
# Replica
###############################################################################

replicaCount: 1