
cloudProvider: aws

awsRegion: "{{ aws_region }}"

autoDiscovery:
  clusterName: "{{ cluster_name }}"

extraArgs:
  balance-similar-node-groups: true
  skip-nodes-with-system-pods: false
  skip-nodes-with-local-storage: false
  expander: least-waste

rbac:
  create: true

serviceAccount:
  create: true
  name: cluster-autoscaler

resources:
  requests:
    cpu: 100m
    memory: 200Mi

  limits:
    cpu: 500m
    memory: 512Mi

replicaCount: 1