
controller:

  replicaCount: 2

  ingressClassResource:
    enabled: true
    name: nginx
    default: true

  service:
    enabled: true
    type: NodePort

    nodePorts:
      http: {{ ingress_nginx_node_ports.http }}
      https: {{ ingress_nginx_node_ports.https }}

  metrics:
    enabled: true

  admissionWebhooks:
    enabled: true

  resources:
    requests:
      cpu: 100m
      memory: 128Mi

    limits:
      cpu: 500m
      memory: 512Mi

  allowSnippetAnnotations: false