# {{ ansible_managed }}

###############################################################################
# Metrics Server Configuration
#
# Production Kubernetes Cluster
#
###############################################################################


###############################################################################
# Replica
###############################################################################

replicas: 2



###############################################################################
# Arguments
###############################################################################

args:

  # AWS private node communication

  - --kubelet-preferred-address-types=InternalIP,Hostname,InternalDNS,ExternalDNS,ExternalIP


  # kubeadm generated kubelet certificates are not publicly trusted

  - --kubelet-insecure-tls



###############################################################################
# Resource Requests
###############################################################################

resources:

  requests:

    cpu: 100m

    memory: 200Mi


  limits:

    cpu: 500m

    memory: 512Mi



###############################################################################
# High Availability
###############################################################################

podDisruptionBudget:

  enabled: true

  minAvailable: 1



###############################################################################
# API Service
###############################################################################

apiService:

  create: true