config:
  clients:
    - url: http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push

  positions:
    filename: /run/promtail/positions.yaml

  snippets:
    pipelineStages:
      - cri: {}

    scrapeConfigs: |
      - job_name: kubernetes-pods

        static_configs:
          - targets:
              - localhost
            labels:
              job: kubernetes-pods
              __path__: /var/log/pods/*/*/*.log

  logLevel: info
  logFormat: logfmt

daemonset:
  enabled: true

  extraVolumes:
    - name: pods
      hostPath:
        path: /var/log/pods
        type: Directory

  extraVolumeMounts:
    - name: pods
      mountPath: /var/log/pods
      readOnly: true