# {{ ansible_managed }}
autoDiscovery:
  clusterName: "{{ cluster_name }}"
awsRegion: "{{ aws_region }}"
extraArgs:
  balance-similar-node-groups: true
  skip-nodes-with-system-pods: false
resources:
  requests:
    cpu: 100m
    memory: 200Mi
